<%- include('partial/header') %>

<div class="jumbotron centered">
    <div class="container">
      <ion-icon name="key-outline"></ion-icon>
        <h1 class="display-3">Secrets</h1>
        <p class="lead">Don't keep your secrets, share them anonymously!</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
    </p>
    </div>
  </div>

<%- include('partial/footer') %>