<%- include('partial/header') %>

    <div class="jumbotron text-centered">
        <div class="container">
            <ion-icon name="key-outline"></ion-icon>
            <h1 class="display-3">You've Discovered My Secreat!</h1>
            <p class="lead">Jack Beuer is my hero.</p>
            <hr class="my-4">
            <a class="btn btn-light btn-lg" href="/logout" role="button">Log out</a>
            <a class="btn btn-dark btn-lg" href="/submit?isLoggedIn=true" role="button">Submit a secreat</a>
        </div>
    </div>

    <%- include('partial/footer') %>