<%- include('partial/header') %>
    <div class="container"></div>
    <div class="jumbotron centered">

        <ion-icon name="key-outline"></ion-icon>
        <h1 class="display-3">Secreats</h1>
        <p class="lead">Don't keep your secreats, share them anonymously!</p>
        <form action="/submit" method="post">
            <div class="form-group">
                <input type="text" class="form-control text-centered" name="secreat" placeholder="What's your secreat?">
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>

        </form>
    </div>
    </div>

    <%- include('partial/footer') %>